@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Custom scrollbar properties */
  --scrollbar-width: thin; /* Adjust width as needed */
  --scrollbar-track-color: #f5f5f5; /* Track color */
  --scrollbar-thumb-color: #ccc; /* Thumb color */
}

/* Target the scrollbar element (vendor prefixes for compatibility) */
::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 6px; /* Optional styling */

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 1em;
}